body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #35424a;
    border-bottom: 4px solid #e8491d;
    min-height: 80px;
}
.clear{
    clear: both;
}
.header-cotent{
    width: 80%;
    margin:0 auto;
    
}
.header-logo h1{
    margin:0;
    color:white;
    font-weight: 500;
    font-size: 30px;
    line-height: 80px;
}
.header-logo,span{
    color:#e8491d
}
.header-logo,nav{
    float:left;
    width: 40%;
}
nav{
    width: 60%;
    text-align: right;
}
nav ul{
    list-style: none;
    line-height: 80px;
}
nav ul li{
    display: inline;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav ul li a:hover{
    color:#999;
    font-weight: bold;
}
nav ul li.active a{
    color:#e8491d
}
/* carousel section */
.carousel{
    height: 400px;
    background-image: url(../img/showCase.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
}
.carousel-content{
    width: 80%;
    position: absolute;
    left: 10%;
    top: 30%;
    text-align: center;
    color:white;
}
.carousel-content h1{
    font-size: 3.7rem;
}
.carousel-content p{
    margin-top: 10px;
    font-size: 1.3rem;
    word-spacing: 2px;
    line-height: 1.9rem;
}
/* FORM section */
.form-section{
    background-color: #35242a;
    padding: 20px 0;
}
.form-content{
    width: 80%;
    margin: 0 auto;
}
.form-content h1{
    color:white
}
.form-title,.form{
    float: left;
    width: 40%;
}
.form{
    width: 60%;
    text-align: right;
}
.form input:first-child{
    height: 30px;
    width: 45%;
    padding-left: 4px;
}
.form .btn-submit{
    height: 35px;
    color: white;
    background-color: #e8491d;
    border: none;
    padding:0 20px;
}
.hmtl5-section{
    background-color: #f4f4f4f4;
}
.html-content{
    width: 80%;
    margin: auto;
    padding: 30px 0;
}
.html-content article{
    float: left;
    width: 33.33%;
    text-align: center;
}
.html-content article img{
   
    width: 90px;
    height: 110px;
}
.html-content article h3{
    padding:20px 0;
}
footer{
    height: 90px;
    background-color: #e8491d;
    text-align: center;
}
footer p{
    color:white;
    line-height: 90px;
}
